/* General */
* {
    box-sizing: border-box;
}

:root {
    --light-1: white;
    --light-2: #F4F6FF;
    --teal-medium-1: #0D7377;
    --teal-medium-2: #32E0C4;
    --teal-medium-3: #00C897;
    --teal-dark-1: #019267;
    --teal-dark-2: #4F8A8B;

    --yellow: #FEB139;
    --purple: #3F0071;
    --aqua: #1CD6CE;
    --lightBlue: #4D96FF;
    --darkBlue: #187498;
    --red: #EB5353;

    --font-family-titles: 'Roboto Flex', sans-serif;
    --font-family-text: 'Raleway', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background-color: var(--light-1);
}

body {
    background-color: var(--light-1);
    color: var(--teal-dark-2);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    margin: 4px 0px 0px 0px;
    padding: 0;
}

#fire {
    color: var(--red);
    text-shadow: 2px 2px 5px var(--yellow);
}

#movieIcon {
    color: var(--darkBlue);
    text-shadow: 2px 2px 5px var(--light-black1);
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.imageContainer h1 {
    left: 50px;
    position: absolute;
    font-size: 90px;
    color: white;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

.imageContainer h2 {
    left: 150px;
    position: absolute;
    font-size: 50px;
    color: white;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin-top: 150px;
    padding: 0;
}

h1,
h2 {
    font-size: 35px;
    color: var(--teal-dark-2);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;

    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);

}

h3 {
    color: var(--teal-dark-2);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: var(--light-2);
    color: var(--teal-medium-2);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}

input::placeholder {
    color: var(--teal-medium-1);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--teal-medium-1);
    border: none;
    color: var(--light-2);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;
}


/*============================ SHARED ================================*/
/* .header-container, .trendingPreview-header, .categoriesPreview-container {
    padding: 0 24px;
  } */

.trendingPreview-container,
.trendingTVPreview-container,
.categoriesPreview-container,
.categoriesTVPreview-container,
.likedTV-container,
.liked-container,
footer {
    margin-top: 30px;

}

.trendingPreview-header,
.trendingTVPreview-header,
.liked-header,
.categoriesPreview-title {

    margin-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.movie-container,
.program-container {
    cursor: pointer;
    font-size: 18px;
    color: var(--teal-dark-1);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    margin-top: 16px;
}

.movie-img,
.program-img {
    border-radius: 8px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.trendingPreview-movieList .movie-container:hover,
.trendingTVPreview-programList .program-container:hover {
    transform: scale(1.2);
    transition-duration: .5s;
    transition-delay: .5s;
    padding: 10px;
}

.movie-container,
.program-container {
    cursor: pointer;
    position: relative;
}

.movie-container span {
    background-color: var(--darkBlue);
    color: var(--light-2);
    left: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.categoriesPreview-list,
.categoriesTVPreview-list,
.categoriesTV-list .categories-list {
    display: flex;
    align-items: center;
    position: relative;
    /* flex-wrap: wrap; */

}

.movie-btn,
.TV-btn {
    background-color: var(--teal-medium-2);
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0;
    margin: 0;
}

.movie-btn::before,
.TV-btn::before {
    content: '🤍';
    /* font-size: 13px; */
}

.movie-btn--liked,
.TV-btn--liked {
    background-color: var(--teal-medium-1);
    box-shadow: 0px 0px 10px 2px var(--darkBlue);
}

.movie-btn--liked::before,
.TV-btn--liked::before {
    content: '💖';
}

/*============================== HEADER ================================*/
/* .header-container {
    padding-: 40px;
  } */
.imageContainer {
    background-size: cover !important;
    display: flex;
    justify-content: left;
    height: 600px;
    width: 100%;
    position: relative;
    align-items: center;
}

.darktheme {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.poster-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.header-container--long {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%);
    background-size: cover !important;
    height: 800px;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
    margin-bottom: 16px;
    margin-left: 25px;
}

.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}

.header-arrow--white {
    margin: 20px;
    color: var(--light-1);
}

.header-arrow--white:hover {
    color: var(--teal-medium-3);
    text-shadow: 2px 2px 5px var(--yellow);
}

/* ======================= SEARCH ======================= */
.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    flex-wrap: nowrap;

    border-style: dotted;
    border-width: 2px;
    border-color: #DDDDDD;
}

.header-searchForm input {
    height: 48px;
    width: 90%;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-searchForm button:hover {
    background-color: #32E0C4;
}

/* ======================= TRENDING ======================= */
.trendingPreview-header,
.trendingTVPreview-header {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    justify-content: space-between;
}

.trendingPreview-btn,
.trendingTVPreview-btn {
    background-color: var(--teal-medium-1);
    box-shadow: 0px 5px 10px rgba(45, 35, 66, .3);
    font-weight: lighter;
    border-radius: 5px;
    height: 45px;
    width: 150px;
    font-size: 15px;

}

.trendingPreview-btn:hover,
.trendingTVPreview-btn:hover {
    background-color: var(--darkBlue);
    color: #fff;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--darkBlue) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.trendingPreview-movieList,
.liked-movieList,
.likedTV-List,
.trendingTVPreview-programList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 400px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 10px;
}

.trendingPreview-movieList .movie-container,
.trendingTVPreview-programList .program-container {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

.trendingPreview-movieList .movie-container .movie-img,
.trendingTVPreview-programList .program-container .program-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.movie-titlePreview,
.program-titlePreview {
    text-overflow: ellipsis;
    text-align: left;
    justify-content: center;
    overflow: hidden;
    white-space: normal;
    font-size: 15px;
    font-weight: 500;
    max-width: 160px;
    height: 35px;
    margin-top: 10px;
}

.movie-DatePreview,
.program-DatePreview {
    text-overflow: ellipsis;
    text-align: left;
    justify-content: center;
    overflow: hidden;
    white-space: normal;
    font-size: 10px;
    font-weight: 500;
    max-width: 160px;
    height: 40px;
    color: gray;
}

/* ======================= CATEGORIES  ======================= */
.category-container,
.categoryTV-container {
    height: 100%;
    padding: 15px;
    /* text-align: center; */
    align-items: center;
}

.categoriesPreview-list,
.categoriesTVPreview-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.category-title,
.categoryTV-title {
    font-weight: bold;
    font-size: 15px;
    /* color: white; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--idColor);
    cursor: pointer;
    /* text-align: center; */
}

.category-title::before,
.categoryTV-title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

/* ======================= GENERIC LIST ======================= */
/* =============== (search, trending & category) ============== */
.genericList-container,
.genericTVList-container {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
    gap: 20px;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 17.5%;
}

.genericList-container .movie-img {
    width: 100%;
}

.genericTVList-container .program-container {
    display: inline-block;
    width: 17.5%;
}

.genericTVList-container .program-img {
    width: 100%;
}

#id28 {
    --idColor: var(--yellow);
}

#id12 {
    --idColor: var(--red);
}

#id16 {
    --idColor: var(--purple);
}

#id35 {
    --idColor: var(--lightBlue);
}

#id80 {
    --idColor: var(--darkBlue);
}

#id99 {
    --idColor: var(--teal-dark-1);
}

#id18 {
    --idColor: var(--teal-medium-1);
}

#id10751 {
    --idColor: var(--yellow);
}

#id14 {
    --idColor: var(--red);
}

#id36 {
    --idColor: var(--purple);
}

#id27 {
    --idColor: var(--lightBlue);
}

#id10402 {
    --idColor: var(--darkBlue);
}

#id9648 {
    --idColor: var(--teal-dark-1);
}

#id10749 {
    --idColor: var(--teal-medium-1);
}

#id878 {
    --idColor: var(--yellow);
}

#id10770 {
    --idColor: var(--red);
}

#id53 {
    --idColor: var(--purple);
}

#id10752 {
    --idColor: var(--lightBlue);
}

#id37 {
    --idColor: var(--darkBlue);
}

#id10759 {
    --idColor: var(--yellow);
}

#id10762 {
    --idColor: var(--red);
}

#id10763 {
    --idColor: var(--yellow);
}

#id10764 {
    --idColor: var(--red);
}

#id10765 {
    --idColor: var(--teal-medium-2);
}

#id10766 {
    --idColor: var(--teal-medium-1);
}

#id10767 {
    --idColor: var(--purple);
}

#id10768 {
    --idColor: var(--red);
}
/*=========================== DETAIL ==============================*/
.movieDetail-container,
.TVDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 600px;
    height: 650px;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: var(--light-1);
}

.movieDetail-title,
.TVDetail-title {
    display: inline-block;
    width: 60%;
    margin: 0 0 16px 0;
    padding: 0;
}

.movieDetail-score,
.TVDetail-score {
    display: inline-block;
    text-align: right;
    width: 10%;
    font-weight: var(--font-weight-title2);
    margin-right: 5px;
    ;
}

.btnWatchTrailer,
.btnWatchTrailerTV {
    background-color: transparent;
    color: #0D7377;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.btnWatchTrailer:hover,
.btnWatchTrailer:hover {
    background-color: transparent;
    color: #3F0071;
}

.movieDetail-score::before,
.TVDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description,
.TVDetail-description {
    margin: 0 0 24px 0;
    color: var(--gray-light-1);
    text-align: justify;
}

.relatedMovies-container,
.relatedTV-container {
    margin-top: 24px;
    height: 216px;
}

.relatedMovies-title,
.relatedTVs-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer,
.relatedTV-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;

}

.relatedMovies-scrollContainer .movie-container,
.relatedTV-scrollContainer .program-container {
    display: inline-block;
    margin-right: 15px;
}

.relatedMovies-scrollContainer .movie-img,
.relatedTV-scrollContainer .program-img {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    min-height: 261.5px;
    max-height: 300px;
}


/* ======================= LIKES ========================= */
.liked-movieList .movie-container,
.likedTV-List .program-container {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

.liked-movieList .movie-container .movie-img,
.likedTV-List .program-container .program-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

/* ======================= FOOTER ======================= */
footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    background-color: black;
    color: var(--light-2);
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* ======================= EXTRAS ======================= */
.inactive {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*--------------------- LOADING SCREEN -------------------------*/
.movie-container--loading {
    background: var(--teal-dark-2);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

.category-container--loading {
    background: var(--teal-dark-2);
    border-radius: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.category-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.relatedMovies-scrollContainer .movie-container--loading {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}

/* Animations */
@keyframes loading-skeleton {

    0%,
    100% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}