/* * General */
* {
    box-sizing: border-box;
}

:root {
    --gray-light-1: #EEEEEE;
    --teal-light-1: #32E0C4;
    --teal-dark-1: #0D7377;
    --light-black1: #212121;

    --yellow: #FEDB39;
    --green: #00C897;
    --aqua: #00FFDD;
    --lightBlue: #56BBF1;
    --darkBlue: #293462;
    --red: #D61C4E;

    --font-family-titles: 'DM Sans', sans-serif;
    --font-family-text: 'DM Sans', sans-serif;
    --font-weight-title1: 400;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background-color: var(--purple-medium-3);
}

body {
    background-color: var(--purple-light-1);
    color: var(--purple-dark-2);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-size: 50px;
    color: var(--purple-light-1);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 25px;
    color: var(--purple-dark-1);
    font-weight: var(--font-weight-title2);
}

h2 i {
    color: var(--red);
    text-shadow: 2px 2px 5px var(--yellow);
}

h3 {
    color: var(--purple-dark-2);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: var(--purple-light-2);
    color: var(--purple-medium-2);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}

input::placeholder {
    color: var(--purple-medium-1);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--teal-dark-1);
    border: none;
    color: var(--gray-light-1);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;

}

/* ======================= HEADER ======================= */
.header-container {
    height: 25%;
    width: 100%;

}

.header-image-container {
    background-image: url(/images/fondo.jpg);
    /* background-image: url("https://image.tmdb.org/t/p/original/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg");*/
    min-height: 600px;
    object-fit: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.header-title--principal {
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: rgba(13, 115, 119, 0.8); */
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.header-title img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}

.header-arrow--whFite {
    color: var(--purple-light-1);
}

/* ======================= SEARCH ======================= */

.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);

}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    border: 1px solid var(--gray-light-1);
    border-radius: 5px;

}

.header-searchForm input {
    height: 48px;
    width: 100%;
    opacity: 0.7;

}

.header-searchForm button {
    background-color: var(--teal-dark-1);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(var(--teal-light-1), var(--teal-dark-1));
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-title1);
    color: var(--gray-light-1);
    width: 100px;
    height: 48px;
}

.header-searchForm button:hover {
    color: var(--teal-dark-1);
}

/* ======================= TRENDING ======================= */
.trendingPreview-container {
    margin-top: 8px;
}

.trendingPreview-header {
    margin: 30px 0px 0px 0px;
    padding: 15px 15px 0px 30px;
}

.movie-img {
    border-radius: 8px;
}


.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trendingPreview-btn {
    background-image: linear-gradient(var(--teal-light-1), var(--teal-dark-1));
    border-radius: 8px;
    height: 20%;
    width: 15%;
    padding: 10px;

}

.trendingPreview-btn:hover {
    color: var(--darkBlue);
}


.trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 300px;
    padding: 24px;
}

.trendingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 20px;
}

.trendingPreview-movieList .movie-container .movie-img {
    height: 500px;
    min-height: 225px;
    max-height: 225px;
    width: 500px;
    min-width: 150px;
    max-width: 150px;
}


/* ======================= CATEGORIES ======================= */
.categoriesPreview-container {
    padding: 0 24px;
}

.categoriesPreview-container,
footer {
    margin-top: 48px;
}

.categoriesPreview-title {
    margin-bottom: 24px;
}

.categoriesPreview-list,
.categories-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

category-container {
    width: 45%;
}

.category-title {
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

#id28 {
    --idColor: var(--yellow);
}

#id12 {
    --idColor: var(--red);
}

#id16 {
    --idColor: var(--green);
}

#id35 {
    --idColor: var(--lightBlue);
}

#id80 {
    --idColor: var(--darkBlue);
}

#id99 {
    --idColor: var(--purple-dark-1);
}

#id18 {
    --idColor: var(--purple-medium-1);
}

#id10751 {
    --idColor: var(--yellow);
}

#id14 {
    --idColor: var(--red);
}

#id36 {
    --idColor: var(--green);
}

#id27 {
    --idColor: var(--lightBlue);
}

#id10402 {
    --idColor: var(--darkBlue);
}

#id9648 {
    --idColor: var(--purple-dark-1);
}

#id10749 {
    --idColor: var(--purple-medium-1);
}

#id878 {
    --idColor: var(--yellow);
}

#id10770 {
    --idColor: var(--red);
}

#id53 {
    --idColor: var(--green);
}

#id10752 {
    --idColor: var(--lightBlue);
}

#id37 {
    --idColor: var(--darkBlue);
}

/* ======================= GENERIC LIST ======================= */

.genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
    gap: 10px;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
    margin-bottom: 50px;
}

.genericList-container .movie-img {
    width: 100%;
}


/* ======================= DETAIL ======================= */

.movieDetail-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 403px;
    z-index: 1;
    position: absolute;
    background-color: var(--teal-dark-1);
    color: var(--gray-light-1);
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
}

.movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
}

.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description {
    margin: 0 0 24px 0;
}

.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}











/* ======================= FOOTER ======================= */
footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    background-color: var(--light-black1);
    color: var(--gray-light-1);
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer a:visited {
    color: var(--gray-light-1);
}

/* ======================= EXTRAS ======================= */
.inactive {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}